/* nejsme vcerejsi, pouzivame moderni box model */

*, :after, :before {
  box-sizing: border-box;
}

/*
 BARVY
 pozadi     #f5f5f5
 Jedeme retro cernobile, dnes barvy nepotrebujeme.
*/

body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  line-height: 1.6;
}

.obsah {
  padding: 30px;
}

h1 {
  font-size: 70px;
  padding: 0;
  margin-bottom: 0;
}

h2 {
  padding: 60px 0 30px 10px;
}

p {
  padding: 15px;
}

/* HLAVICKA */

.titulek {
  font-family: 'Raleway', serif;
}

.hlavicka {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/island-hlavicka.jpg);
  background-size: cover;
  text-align: center;
  color: white;
  padding: 20px;
}

.autor {
  font-style: italic;
  border-top: 1px solid white;
  max-width: 200px;
  margin: auto;
  padding: 20px 0px;
}

/* MENU */

ul {
  text-align: center;
  list-style: none;
  text-transform: uppercase;
  font-family: 'Raleway', serif;
}

li {
  padding: 5px;
}

ul a {
  text-decoration: none;
}

a {
  color: grey;
}

/* OBSAH */

img {
  max-width: 100%;
}

.popisek, .popisek-gal {
  margin: 0;
  text-align: center;
  color: grey;
  font-size: 10px;
  font-weight: bold;
  padding: 0 0 20px 0;
}

.popisek-copy {
  font-weight: normal;
}

/* FOTOGALERIE */

/* PATICKA */

.paticka {
  color: grey;
  -webkit-box-shadow: inset 1px 24px 11px -5px rgba(232, 232, 232, 1);
  -moz-box-shadow: inset 1px 24px 11px -5px rgba(232, 232, 232, 1);
  box-shadow: inset 1px 24px 11px -5px rgba(232, 232, 232, 1);
  padding: 30px;
  font-size: 12px;
}

.paticka p {
  margin:0;
  padding: 0;
}


@media (min-width: 500px) {
  ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
  ul a {
    color: grey;
  }
  .popisek {
    position: relative;
    float: right;
    margin: -30px 20px 30px;
    color: white;
    z-index: 2;
  }
  a {
    color: white;
  }
  .galerie {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }
  .foto {
    display: flex;
    width: 50%;
  }
  .galerie p {
    display: none;
  }
  .popisek-gal {
    display: none;
  }
}

.paticka a {
  color: grey;
}

h2::after {
  content:""; 
  background-color: rgb(98, 177, 241);
  width: 100px;
  height: 5px;
  display: block;
  margin-left: -40px;
  margin-top: 20px;
}



@media (min-width: 800px) {
  .foto {
    display: flex;
    width: 33.333%;
  }
}

@media (min-width: 1000px) {
  .obsah {
    width: 960px;
    margin: -80px auto;
    background-color: white;
    -webkit-box-shadow: 0px 0px 11px 2px rgba(163,158,163,1);
-moz-box-shadow: 0px 0px 11px 2px rgba(163,158,163,1);
box-shadow: 0px 0px 11px 2px rgba(163,158,163,1);
  }

  .hlavicka {
    min-height: 500px;
  }

  .perex {
    width: 800px;
    margin: 0 auto;
  }

  .menu {
    float: left;
  }

  .uvod {
    padding: 30px 30px 30px 250px;
  }

  ul {
    display: block;
    padding: 40px;
    text-align: left;
}
  li {
    padding: 10px;
  }

  .proc {
    padding-right: 200px;
  }

  .videt {
    padding-left: 200px;
  }
}

